<section class="post-list" test="test">
  <% notes = page.content.split("<p>===</p>") %>
  <% notes.forEach(function(text, index){ %>
      <% time = text.split("</h2>")[0].split("a>")[1] %>
      <% text = text.split("</h2>")[1] %>
      <div class='post-wrapper'>
        <%- partial('notepost', {post: {title: index == 0 ? 'Latest 果生随想' : undefined, content: text, time: time}}) %>
      </div>
      <% if (index == 0) { %>
        <%- partial('../_plugins/comments/index') %>
      <% } %>
  <% }) %>
</section>